@model IEnumerable<LightWay.Models.TeacherSubject>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">LIST OF TEACHERS AND THEIR SUBJECTS</div>
    <div class="panel-body">

        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherNum)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherNum)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>



















